out/test/**
*.vsix
**/*.map
src/**
.gitignore
tsconfig.json
.eslintrc.json
**/*.ts
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.vscode-test/**
.vscode-test-web/**
node_modules/**
.git/**
.DS_Store
**/.DS_Store
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.nyc_output
**/coverage
**/.coverage
**/*.lcov
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
!node_modules/pidusage/**
!node_modules/ps-tree/**
!node_modules/safe-buffer/**
!node_modules/event-stream/**
!node_modules/duplexer/**
!node_modules/from/**
!node_modules/map-stream/**
!node_modules/pause-stream/**
!node_modules/split/**
!node_modules/stream-combiner/**
!node_modules/through/**
